body {
  margin: 50px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  /* font-family: "Caveat", cursive; */
  opacity: 1;
}

.shortUrlBox::selection {
  background-color: #ffc32d;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.logo {
  width: 350px;
}

.shorty {
  padding-left: 30px;
  padding-top: 5px;
  font-size: 38px;
  font-family: "Caveat", cursive;
  color: #b384d3;
  font-weight: bold;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  font-size: 24px;
  outline: none;
  line-height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid black;
  margin-bottom: 20px;
  width: 500px;
  caret-color: #b384d3;
}

.shortUrlWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.prefix,
.shortUrlBox {
  font-size: 24px;
  outline: none;
  border: 0;
}

.prefix {
  margin-right: 10px;
  font-size: 18px;
}

.hidden {
  display: none;
}

.shortUrlBox {
  background: #efefef;
  padding: 8px 10px;
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.apiError {
  background-color: #fef2f2;
}

.slash {
  /* font-size: 20px; */
}
.inputBox:focus {
  /* border: 1px solid black */
}

.link {
  color: #aaa;
  font-size: 30px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  text-decoration: none;
}

.createShortUrlButton {
  cursor: pointer;
  border-radius: 10px;
  background: black;
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
}

.generatedUrlWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.generatedUrl {
  display: inline-block;
  font-size: 24px;
  margin-right: 20px;
  color: #b384d3;
  /* text-decoration: none; */
}

.copy {
  cursor: pointer;
}

.copied {
  width: 100px;
  display: inline-block;
  padding-left: 10px;
}

.copy-error {
  width: 200px;
  display: inline-block;
}

.copyIconWrapper {
  position: relative;
}

.copyStatus {
  position: absolute;
  left: 20px;
  top: 6px;
  width: auto;
}

.qrImage {
  cursor: move;
}
